Start the command poetry install

Create .env in parent folder

The variables that must be modified for the project to work.

SECRET_KEY=your_secret_key
DEBUG=true <- default
EMAIL_HOST="smtp.something.com"
EMAIL_HOST_USER="someemail@email.com"
EMAIL_HOST_PASSWORD="someemail@email.com password"
The variables that need to be modified for Cloudinary to work.

CLOUD_NAME=your_cloud_name
API_KEY=your_api_key
API_SECRET=your_api_secret
 
Need to add postgresql